.cart {
    position: fixed;
    right: 1rem;
    top: 4.2rem;
    width: 300px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    z-index: 2000;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.cart h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.cart li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
}

.cart increment, 
.cart decrement{
    padding: 8px;
}



