.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-buttons button, .register-link, .login-link {
    margin-left: 0.5rem;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.logo-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

    .logo-link:hover {
        transform: translateY(-3px);
        color: #ff6347;
    }