.sidebar {
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 220px;
    height: calc(100vh - 3.5rem);
    background-color: #111;
    color: #fff;
    padding: 1.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .sidebar input,
    .sidebar select {
        width: 80%;
        padding: 0.5rem;
        background-color: #222;
        color: #fff;
        border: 1px solid #555;
        border-radius: 4px;
        margin-rigt: 1rem;
    }

    .sidebar .searchBar {
        margin-top: 4rem;
        margin-bottom: 10rem;
    }