.sneaker-list {
    margin-left: 220px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    background-color: #fff;
}

.sneaker-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    height: 330px; /* adjust to fit your tallest card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

    .sneaker-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
    }

    .sneaker-card.placeholder {
        background: transparent;
        box-shadow: none;
        pointer-events: none;
        visibility: hidden;
    }
